<div class="modal-header">
  <h4 class="modal-title">User Creation</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group input-group">
      <label class="input-group-addon w-25" for="user-create-email">Email</label>
      <input id="user-create-email" type="text" class="form-control" placeholder="email@example.com" aria-label="Email">
    </div>
    <div class="form-group input-group">
      <label class="input-group-addon w-25" for="user-create-password">Password</label>
      <input id="user-create-password" type="password" class="form-control" placeholder="Password" aria-label="Password">
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">
        Admin
      </label>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close('Close click')">Cancel</button>
  <button type="button" class="btn btn-outline-primary">Submit</button>
</div>
