<h1>Users</h1>

<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-secondary">1</button>
    <button type="button" class="btn btn-secondary">2</button>
    <button type="button" class="btn btn-secondary">3</button>
    <button type="button" class="btn btn-secondary">4</button>
  </div>
  <div class="btn-group mr-2" role="group" aria-label="Second group">
    <button type="button" class="btn btn-secondary">5</button>
    <button type="button" class="btn btn-secondary">6</button>
    <button type="button" class="btn btn-secondary">7</button>
  </div>
  <div class="btn-group" role="group" aria-label="Third group">
    <button type="button" class="btn btn-outline-primary" (click)="openCreateUserModal()">
      <i class="fa fa-plus" aria-hidden="true"></i> Create
    </button>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Id</th>
      <th>Email</th>
      <th>Admin</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ user.id }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.isAdmin }}</td>
    </tr>
  </tbody>
</table>
