<h2>Users List</h2>
<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group ml-auto" role="group" aria-label="Third group">
    <button type="button" class="btn btn-outline-primary" (click)="openCreateUserModal()">
      <i class="fa fa-plus" aria-hidden="true"></i> Create
    </button>
  </div>
</div>
<br />
<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Admin</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.email }}</td>
      <td>{{ user.isAdmin }}</td>
    </tr>
  </tbody>
</table>
